<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" th:href="@{/reset.css}"/>
    <link rel="stylesheet" href="css/fonts.css" th:href="@{/fonts.css}"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/main.css}" />
    <link rel="stylesheet" href="css/header.css" th:href="@{/header.css}"/>
    <link rel="stylesheet" href="css/buy.css" th:href="@{/buy.css}"/>
    <link rel="stylesheet" href="css/user-contract.css" th:href="@{/user-contract.css}" />
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a href=""
            ><img src="img/logo.png" alt="" class="logo-desc" /><img
                    src="img/logo-mob.png"
                    alt=""
                    class="logo-mob"
            />Bogdashka</a
            >
        </div>
        <ul class="menu">
            <li><a class="menu-item" href="">Конкурсы</a></li>
            <li><a class="menu-item" href="/mylist">Мои покупки</a></li>
        </ul>
        <a href="/buy-transfer.html" class="button-red">
            <img src="img/btn-logo.png" alt="" />
            Купить РОБУКСЫ
        </a>
    </nav>
</header>
<div class="check-buy">
    <div class="check-buy-title">Проверка покупок</div>
    <div class="check-buy-nickname-items">
        <div class="check-buy-nickname-btn-item">
            <input class="check-buy-nickname-btn" placeholder="введите никнэйм" />
            <div class="check-buy-nickname-apply-btn">
                <div class="check-buy-nickname-apply-btn-inner">Применить</div>
            </div>
        </div>
        <img class="check-buy-geer" src="img/check-buy-geer.png" alt="" />
    </div>

</div>
<div class="footer-two">
    <div class="container-user-contract">
        <div class="footer-two-items">
            <div class="footer-two-item-mail">
                <img src="img/footer-two-mail.png" alt="" />
                <a href="">support@robus.ru</a>
            </div>
            <div class="footer-two-item-vk">
                <img src="img/footer-two-vk.png" alt="" />
                <a href="">vk.com/robux</a>
            </div>
            <div class="faq">
                <a href="">F&Q</a>
            </div>
            <div class="buy active-green">
                <a href="">Покупки</a>
            </div>
            <div class="privacy-policy">
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="terms-of-use">
                <a href="/user-contract.html">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
